<div class = "schedule">
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Schedules
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Spring 2019</a>
    <a class="dropdown-item" href="#">Fall 2019</a>
    <a class="dropdown-item" href="#">Spring 2020</a>
  </div>
</div>
 
 <%= image_tag "schedule.png", :class => "scheduleimage", size:"600x700"%>
</div>