<footer class="footer">
  <small>
    <em>The Brandeis University Foster Student Mentorship Program</em>
    by <a href="https://www.brandeis.edu">students of Brandeis University</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>